.booking-form {
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 10%);
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  line-height: 24px;

  @media screen and (max-width: 768px) {
    box-shadow: none;
    padding: 0;
  }

  .header {
    padding-top: 8px;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    color: #414141;
    border-bottom: solid 1px #dfdfdf;
  }

  .field {
    border: 1px solid;
    border-color: #dfdfdf;
    padding: 8px 12px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    justify-items: center;
    transition: 0.25s;

    &:hover,
    &.selected {
      border-color: #505050;
    }

    .placeholder {
      color: #6a6a6a;
      cursor: pointer;
      flex: 1;
    }

    .icon {
      color: #6a6a6a;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      svg {
        height: 14px;
      }
    }
  }

  .request {
    border-top: solid 1px #dfdfdf;
    padding-top: 12px;

    .min-price {
      margin-bottom: 12px;
      span {
        font-weight: 500;
      }
    }
    .total-price {
      .per,
      .total {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        font-size: 12px;
      }

      .total {
        padding-top: 12px;
        border-top: solid 1px #dfdfdf;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .btn {
      background: #4a5ced;
      width: 100%;
      color: #fff;
      padding: 8px 12px;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.25s;

      &:hover {
        box-shadow: 0px 2px 12px rgb(150 150 150);
      }
    }

    .payment {
      margin-top: 8px;
      display: flex;
      gap: 8px;
      align-items: center;
      color: #9f9f9f;
      svg {
        width: 24px;
        height: 16px;
        fill: #6a6a6a;
      }
    }
  }
}

.persons-no {
  input {
    color: #414141;
    border: solid 1px #dfdfdf;
    background-color: #fff;
    width: 40px;
    text-align: center;
    outline-color: #505050;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  .minus,
  .plus {
    cursor: pointer;
    color: #2ec4dd;
    flex-shrink: 0;
    height: 24px;
    width: 24px;
    padding: 4px;
    svg {
      width: 100%;
      height: 100%;
    }

    &.disabled {
      cursor: not-allowed;
      svg {
        fill: #dfdfdf;
      }
    }
  }
}

.dateTimeSelect {
  position: relative;
  .selectedDateTime {
    color: #2ec4dd;
    font-weight: 500;
    cursor: pointer;
    flex: 1;
  }
  .calendarWrapper {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
  }
}

.error {
  color: #dc3545;
  font-size: 12px;
  margin-top: -16px;
}

.overlay {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
}
