.calendar {
  width: 100%;

  .MainWrapper {
    width: fit-content;
    max-width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 2px 16px rgb(0 0 0 / 10%);
    margin: auto;

    .CalendarHeaderWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #414141;
      .switchMonth {
        svg {
          cursor: pointer;
          &:hover {
            color: #2ec4dd;
          }
        }
        &.disabled {
          svg {
            color: #f3f3f3;
          }
        }
      }
    }

    .WeekDaysWrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .WeekDayCell {
        height: 48px;
        width: 54px;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #414141;
        font-weight: 500;
      }
    }

    .CalendarContentWrapper {
      display: flex;
      flex-direction: row;

      .CalendarDayCell {
        height: 48px;
        width: 54px;
        border: 1px solid;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 6px;
        margin: 2px;
        font-size: 14px;
        line-height: 12px;
        position: relative;
        .minPrice {
          font-size: 10px;
        }
        .dropDown {
          display: none;
          position: absolute;
          top: calc(100% + 4px);
          padding: 12px 0px;
          border-radius: 4px;
          z-index: 1;
          box-shadow: 0px 2px 16px rgb(0 0 0 / 25%);
          background-color: #fff;
          color: #414141;
          width: 120px;

          &.showing {
            display: flex;
            flex-direction: column;
          }
          .slot {
            padding: 4px 12px;
            line-height: 120%;
            &:hover {
              background-color: #f3f3f3;
              font-weight: 500;
            }
          }
        }
        &.default {
          color: #2ec4dd;
          border-color: #2ec4dd;
          cursor: pointer;
        }
        &.selected {
          background: #2ec4dd;
          color: #fff;
        }
        &.default,
        &.selected {
          &:hover {
            background: #25a9bf;
            border-color: #25a9bf;
            color: #fff;
          }
        }
        &.notAvailable {
          text-decoration: line-through;
          color: #9f9f9f;
          border-color: #9f9f9f;
          pointer-events: none;
        }
        &.nextMonth {
          color: #dae1e7;
          border-color: #dae1e7;
        }
        &.past {
          color: #f3f3f3;
          border-color: #f3f3f3;
          pointer-events: none;
        }
      }
    }
  }
}
